# Environment: production or development
BUILD_ENV=production
NODE_ENV=production

# API URLs (si nécessaire pour le futur)
# VACATION_API_URL=https://data.education.gouv.fr/api/explore/v2.1/catalog/datasets/fr-en-calendrier-scolaire/records
