<form #academyForm=ngForm (ngSubmit)="onFormSubmit(academyForm)" class="academy-form" action="">
  @if (errorMsg() != null) {
    <p>{{ errorMsg() }}</p>
  }
  <select
    id="academy"
    name="academy"
    [(ngModel)]="academy"
  >
    <option value="">--Choisissez une académie--</option>
    @for (zoneGroup of zones; track zoneGroup.label) {
      <optgroup label="{{ zoneGroup.label }}">
        @for (zone of zoneGroup.options; track zone.value) {
          <option value="{{ zone.value }}">{{ zone.label }}</option>
        }
      </optgroup>
    }
  </select>
  <button>Valider</button>
</form>
