@if (errorMessage()) {
  <div>
    <p>Erreur : {{ errorMessage }}</p>
<!--    <app-academy-form></app-academy-form>-->
    Un formulaire sera bientôt disponible pour sélectionner manuellement votre académie :)
  </div>
}

@if (academyName()) {
  <section id="academy">
    <h2>Académie</h2>
    <p>{{ academyName() }}</p>
  </section>
}

@if (countdown()) {
  @let timeRemaining = countdown()?.timeRemaining;
  <section>
    <h2>
      {{ countdown()?.status == 'NEXT' ? "Prochaine vacances dans" : "Fin des vacances dans" }}
    </h2>

    <p>
      {{ timeRemaining?.days }}j {{ timeRemaining?.hours }}h {{ timeRemaining?.minutes }}m {{ timeRemaining?.seconds }}s
    </p>
  </section>
}

<footer>
  <p>
    Data source: <a href="https://www.data.gouv.fr" target="_blank" rel="noopener noreferrer">data.gouv.fr</a> & <a href="https://nominatim.org/" target="_blank" rel="noopener noreferrer">https://nominatim.org/</a>
  </p>
  <p>Créé dans le cadre des <a href="https://devchallenges.yoandev.co/">DevChallenges 2026</a></p>
</footer>
