@if (errorMessage()) {
  <div>
    <p>Erreur : {{ errorMessage }}</p>
<!--    <app-academy-form></app-academy-form>-->
    Un formulaire sera bientôt disponible pour sélectionner manuellement votre académie :)
  </div>
}

@if (academyName()) {
  <section>
    <h2>Académie</h2>
    <p>{{ academyName() }}</p>
  </section>
}

@if (countdown()) {
  @let timeRemaining = countdown()?.timeRemaining;
  <section>
    <p>
      {{ timeRemaining?.days }}j {{ timeRemaining?.hours }}h {{ timeRemaining?.minutes }}m {{ timeRemaining?.seconds }}s
    </p>
  </section>
}
